#nav{
     background-image: linear-gradient(90deg, rgba( 0,0, 96, 0.73) 51%,
       rgba(0, 0, 90, 0.91)94%) , url(../images/Dekha.jpg) ;
       height:550px;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
}
.jumbotron{
    background-color:transparent!important;
    color: white;
    
}
.bg-dark{
    background-color:transparent!important;
}
.nav-item{
    color: white;
}
i.fab {
    border: 3px solid white;
    border-radius: 50%;
    margin: 0px 12px 0px 12px;
    padding: 10px;
    font-size: 40px;
     }
 i{
        font-size: 20px;
        padding: 20px;
        visibility: visible;
    }