#nav{
     background-image: linear-gradient(90deg, rgba( 0,0, 96, 0.73) 51%,
       rgba(0, 0, 90, 0.91)94%) , url(../images/Dekha.jpg) ;
       height:550px;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
}
.jumbotron{
    background-color:transparent!important;
    color: white;
    
}
.bg-light{
    background-color:transparent!important;
}
.nav-item{
    color: white;
}


.hello{
    color: darkblue;
}
.sec1{
    background-color: white;
    
}
.sec2{
    background-color: lightgray;
}
.sec2 .container{
    
}
.circle{
    font-size: 40px;
    border: solid white;
    border-radius: 100px;

}